{% extends 'main.html'%}


{%block content%}

<style>
    .room-container{
        display : grid;
        grid-template-columns: 3fr 1fr;
    }
</style>
<div class="room-container">
    <div>
        <h1>{{room.name}} @ {{room.host}}</h1>
        <p>{{room.description}}</p>
        <div>
            <h3>Discussion</h3>
            {%for message in room_messages %}
            <div>
                <small>@{{message.user}} {{message.created|timesince}} ago </small>
                {{message.body}}
            </div>
            {% if request.user == message.user%}
            <div>
                <a href="{% url 'delete-message' message.id %}">Delete</a>
            </div>
            {%endif%}
            {%endfor%}
        </div>
        <div>
            {%if request.user.is_authenticated%}
            <form action="" method="post">
                {%csrf_token%}
                <!-- <label for=""></label> -->
                <input type="text" name="body" placeholder="Discuss here ...">
            </form>
            {%endif%}
        </div>
    </div>
    <div>
        <h1>Participants</h1>
        <div>
            {%for user in participants%}
            <p>@{{user.username}}</p>
            {%endfor%}
        </div>
        <hr>
    </div>
</div>

{%endblock%}